* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-image: url(../img/bg-2.png);
  width: 1140px;
  text-align: center;
}
div.container{
  width: 1180px;
  height: 300%;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  position: absolute;
  overflow:hidden;
}
div.header{
  width: 1140px;
  background-color: rgb(223, 88, 55);
}


div.logo{

  position: relative;
  float: left;
  width: 150px;
  height: 60px;
  padding: 10px;
}
div.menu{
  position: relative;
  float: left;
  width: auto;
  margin-left: 50px;
  margin-top: 10px;
  padding: 10px;
}
div.login{
  position: relative;
  float: right;
  margin-top: 10px;
  width: auto;
  padding: 10px;
}
div.section{
  width: 1140px;
  /*background-size: auto;*/
  position:relative;
  background-color: white;
  top: 100px;
}
main{
  background-color: white;
  width: 800px;
  position: absolute;
  overflow: hidden;

}
nav{
  width: 320;
}
ul li{
  list-style: none;
  font-size: 15px;
  color: white;
  float: left;
  margin-left: 20px;
}
div.img-prod{
  width: 380px;

  padding-top: 5px;
  padding-left: 10px;
  padding-right: 5px;
  float: left;
}
