* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-image: url(../img/bg-2.png);
  width: 1140px;
  text-align: center;
  margin-left: 150px;
}
ul li{
  list-style: none;
  font-size: 15px;
  color: white;
  float: left;
  margin-left: 20px;
}
div.container{
  width: 1180px;
  height: 300%;
  text-align: center;

  position: absolute;
  overflow:hidden;
}
div.header{
  width: 1140px;
  height: 60px;
  margin-top: 10px;
  background-color: rgb(223, 88, 55);
}
div.logo{

  position: relative;
  float: left;
  width: 150px;
  height: 60px;
  padding: 10px;
}
div.menu{
  position: relative;
  float: left;
  width: auto;
  height: 60px;
  margin-left: 50px;
  margin-top: 10px;
  padding: 10px;
}
div.login{
  position: relative;
  float: right;
  margin-top: 10px;
  width: auto;
  height: 60px;
  padding: 10px;
}
div.section{
  width: 1140px;
  position:relative;
  top: 10px;
}
main{
  width: 800px;
}
div.img-prod{
  width: 380px;
  height: 330px;
  margin: 0px;
  padding: 10px;
  float: left;
  background-color: white;
  text-align: justify;
}
nav{
  width: 320px;
  position: absolute;
  margin-left: 800px;
}
div.nav{
  position: relative;
  top: 10px;
  overflow: hidden;
}
div.tutorial{
  overflow: hidden;
  margin-top: 10px;
}
img.tutorial{
  float: left;
}
p{
  width: 300px;
}
h2{
  background-color: white;
}
h3{
  background-color: white;
  width: 207px;
  height: 85px;
  float: right;
}
h4{
  color: white;
  width: 100px;
  height: 30px;
  background-color: red;
}
